/*============

--------------------------- Global

===================================================*/
body{
    background-color: #FCFCFC;
    font-size: 16px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
/* FLex container */
.flex{
    display: flex;
}
.flex-just-cont-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}

ul{
    list-style: none;
}

/*============

--------------------------- Buttons

===================================================*/

.btn-round{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem 2.25rem;
    background-color:  #7cc576;
    border-radius: 2rem;
    display: inline-block;
}

.btn-round:hover,
.btn-round:focus{
    background-color: #288122;
    color: #ccc;
    transition: 0.7s;
}
.btn-nkd{
    text-transform: uppercase;
    color:  #7cc576;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    margin-top: 1.56rem;
}
.btn-nkd i{
    margin-left: 6px;
}

.btn-nkd:hover,
.btn-nkd:focus{
    color: #222222;
    transition: 1s;
}

/*============

--------------------------- Fonts

===================================================*/

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */




/*============

--------------------------- Header

===================================================*/
.header-content{
    padding: 2.6rem 1rem;
}

.branding img{
    max-width: 8.8rem;
    max-height: 1.8rem;
}
header li a{
    padding: 0.3rem 1rem;
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    }
header li a:hover{
    color: #333;
    border-bottom:#7cc576 2px solid;
}
/*============

--------------------------- Sections

===================================================*/
.services,
.advert,
.projects,
.culture,
.testimonials{
    padding-top: 4.25rem;
}

.contact,
.partners,
.footer-nav{
    padding: 4rem 0;
}
.sec-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.main-sub-title{
    color: #ccc;
    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
    color:  #cccccc;
    font-weight: 400;
    text-align: center;
}

.section-sub-title{
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}
/*============

--------------------------- Section Hero

===================================================*/

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../img/BackgroundHero.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 7.43rem;
}

.hero-content{
    color: #fff;
    height: 100%;
    width: 100%;
}
.hero h1{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    /* padding: 7.4rem 2.5rem 0; */
}
.hero p{
    margin-bottom: 3.5rem;
}
/*============

--------------------------- Section services

===================================================*/

.services-content{
    padding-top: 5.3rem;
}
.card-services{
    text-align: center;
    max-width: 17.12rem;
}
.card-services i{
    font-size: 3.4rem;
    padding-bottom: 1.3rem;
}
.card-services h3{
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
}

.card-services p{
    font-size: 0.87rem;
    font-family: 'Roboto Slab', serif; 
    font-weight: 400;
}
/*============

--------------------------- Section Advert

===================================================*/

.advert .col-1{
    max-width: 26.87rem;
    max-height: 38.5rem;
    background-color:  #e9e9e9;
    padding: 6rem 0 5rem;
}
.advert .col-1 img{
    max-width: 24.31rem;
    max-height: 26rem;
    margin-left: 50%;
}
.advert .col-2{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 38.5rem;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 4rem 6.25rem 5rem;
}

.advert .col-2 h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    padding-right: 2rem;
}

.advert span{
    color:  #7cc576;
}

.advert p,
.advert li{
    color: #ccc;
    font-family: 'Roboto Slab', serif; 
}
.advert p{
    padding-right: 13.75rem;
    padding-bottom: 1.375rem;
}

.advert ul{
    padding: 0;
    text-transform: capitalize;
}

.advert i{
    border: 2px solid #ccc;
    padding: 0.56rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    margin-bottom: 0.625rem;
}
.advert .btn-round{
    margin-top: 1rem;
}
/*============

--------------------------- Section Projects

===================================================*/

.projects-content{
    padding-right: 47.31rem;
    padding-top: 5.37rem;
    padding-bottom: 6.25rem;
    position: relative;
}

.projects h3{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    text-transform: uppercase;
}
.projects-content > p{
    font-family: RobotoSlab;
    color:  #777777;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
}
.projects img{
    max-width: 40.18rem;
    position: absolute;
    right: 0;
    top: 80px;
}

#basket i{
    font-size: 2.5rem;
    padding: 14px 12px;;
    border: 4px solid #000;
    border-radius: 50%;
}
#seo i,
#lock i{
    font-size: 2.5rem;
    padding: 12px 14px;
    border: 4px solid #000;
    border-radius: 50%;
}

.projects-list i{
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.projects .box-content{
    padding-bottom: 1.25rem;
}
.projects-content p{
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.box-content h4{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.box-content p{
    margin-top: -24px;
}
/*============

--------------------------- Section Culture

===================================================*/

.culture{
    background-color: #f9f9f9;
    padding-bottom: 6.25rem;
}
.culture-content{
    margin-top: 5.5rem;
    position: relative;
}
.culture .card{
    text-align: center;
}
.culture .card i{
    font-size: 2.93rem;
    color: #777777;
    border: solid #777777 4px;
    border-radius: 50%;
}
.culture .card h3{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.culture .card p{
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    max-width: 17.12rem;
}

#balance{
    padding: 15px 19px 15px 13px;
}

#chart,
#star{
    padding: 15px;
}

#chart-card::after,
#chart-card::before{
    content: '';
    border: solid 1px #777;
    display: block;
    width: 170px;
    position: absolute;
}
#chart-card::before{
    top: 40px;
    left: 230px;
}

#chart-card::after{
    top: 40px;
    left: 600px;
}

