/*============

--------------------------- Global

===================================================*/
body{
    background-color: #FCFCFC;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.body-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
/*============

--------------------------- Flex

===================================================*/


ul{
    list-style: none;
}

/*============

--------------------------- Buttons

===================================================*/

.btn-round{
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem 2.25rem;
    background-color:  #7cc576;
    border-radius: 2rem;
    display: inline-block;
}

.btn-round:hover,
.btn-round:focus{
    background-color: #288122;
    color: #ccc;
    transition: 0.7s;
}
.btn-nkd{
    text-transform: uppercase;
    color:  #7cc576;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    margin-top: 1.56rem;
}
.btn-nkd i{
    margin-left: 6px;
}

.btn-nkd:hover,
.btn-nkd:focus{
    color: #222222;
    transition: 1s;
}

.btn-rect{
    font-size: 18px;
    font-weight: 700;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    color: #fff;
    opacity: 0.8;
    padding: 0.8rem 1.8125rem;
    border: 3px solid #fff;
    border-radius: 1rem;
}

.btn-rect:hover{
    opacity: 1;
}

/*============

--------------------------- Fonts

===================================================*/

/* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */




/*============

--------------------------- Header

===================================================*/

.header-content{
    padding: 2.6rem 14.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branding img{
    max-width: 8.8rem;
    max-height: 1.8rem;
}
header li a{
    padding: 0.3rem 1rem;
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    }
header li a:hover{
    color: #333;
    border-bottom:#7cc576 2px solid;
}
.navbar-nav{
    display: flex;
}
/*============

--------------------------- Sections

===================================================*/
.services,
.advert,
.projects,
.culture,
.testimonials{
    padding-top: 4.25rem;
}

.contact,
.partners,
.footer-nav{
    padding: 4rem 0;
}
.services, .culture{
    padding-left: 14.375rem;
    padding-right: 14.375rem;
}
.sec-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.main-sub-title{
    color: #ccc;
    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
    color:  #cccccc;
    font-weight: 400;
    text-align: center;
}

.section-sub-title{
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}
/*============

--------------------------- Section Hero

===================================================*/

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(../img/BackgroundHero.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 7.43rem;
}

.hero-content{
    color: #fff;
    height: 100%;
    width: 100%;
}
.hero h1{
    font-size: 3.75rem;
    font-weight: 700;
    text-transform: uppercase;
    /* padding: 7.4rem 2.5rem 0; */
}
.hero p{
    margin-bottom: 3.5rem;
}
/*============

--------------------------- Section services

===================================================*/

.services-content{
    padding-top: 5.3rem;
    display: flex;
    justify-content: space-between;
}
.card-services{
    text-align: center;
    max-width: 17.12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-services i{
    font-size: 3.4rem;
    padding-bottom: 1.3rem;
}
.card-services h3{
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
}

.card-services p{
    font-size: 0.87rem;
    font-family: 'Roboto Slab', serif; 
    font-weight: 400;
}
/*============

--------------------------- Section Advert

===================================================*/
.advert{
    display: flex;
}
.advert .col-1{
    max-width: 26.87rem;
    max-height: 38.5rem;
    background-color:  #e9e9e9;
    padding: 6rem 0 5rem;
}
.advert .col-1 img{
    max-width: 24.31rem;
    max-height: 26rem;
    margin-left: 50%;
}
.advert .col-2{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 38.5rem;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 4rem 6.25rem 5rem;
}

.advert .col-2 h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    padding-right: 2rem;
}

.advert span{
    color:  #7cc576;
}

.advert p,
.advert li{
    color: #ccc;
    font-family: 'Roboto Slab', serif; 
}
.advert p{
    padding-right: 13.75rem;
    padding-bottom: 1.375rem;
}

.advert ul{
    padding: 0;
    text-transform: capitalize;
}

.advert i{
    border: 2px solid #ccc;
    padding: 0.56rem;
    border-radius: 50%;
    margin-right: 1.25rem;
    margin-bottom: 0.625rem;
}
.advert .btn-round{
    margin-top: 1rem;
}
/*============

--------------------------- Section Projects

===================================================*/

.projects-content{
    padding-left: 14.375rem;
    padding-right: 14.375rem;
    padding-top: 5.37rem;
    padding-bottom: 6.25rem;
    position: relative;
}

.projects h3{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    text-align: left;
    text-transform: uppercase;
}
.projects img{
    max-width: 40.18rem;
    position: absolute;
    right: 0;
    top: 80px;
    z-index: -1;
}

#basket i{
    font-size: 2.5rem;
    padding: 14px 12px;;
    border: 3px solid #000;
    border-radius: 50%;
}
#seo i,
#lock i{
    font-size: 2.5rem;
    padding: 12px 14px;
    border: 3px solid #000;
    border-radius: 50%;
}
.projects-list i{
    margin-right: 1.25rem;
}
.projects-content p{
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    max-width: 26.375rem;
}
.box{
    display: flex;
    align-items: center;
}
.box-content h4{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.box-content p{
    margin-top: -24px;
}
/*============

--------------------------- Section Culture

===================================================*/

.culture{
    background-color: #f9f9f9;
    padding-bottom: 6.25rem;
}
.culture-content{
    margin-top: 5.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.culture .card{
    text-align: center;
}
.culture .card i{
    font-size: 2.93rem;
    color: #777777;
    border: solid #777777 4px;
    border-radius: 50%;
}
.culture .card h3{
    color:  #222222;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.culture .card p{
    color:  #777777;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    max-width: 17.12rem;
}

#balance{
    padding: 15px 19px 15px 13px;
}

#chart,
#star{
    padding: 15px;
}

#chart-card::after,
#chart-card::before{
    content: '';
    border: solid 1px #777;
    display: block;
    width: 170px;
    position: absolute;
}
#chart-card::before{
    top: 40px;
    left: 210px;
}

#chart-card::after{
    top: 40px;
    left: 550px;
}

/*============

--------------------------- Section Testimonials

===================================================*/

.testimonials-wrapper{
    padding: 5.375rem 14.375rem 0;
}
.testimonial{
    padding-bottom: 3.875rem;
    display: flex;
    justify-content: space-between;
}

.testimonials img{
    max-width: 13.81rem;
    max-height: 13.81rem;
    border-radius: 50%;
    display: block;
}

.testimonial-content{
    background-color:  #f9f9f9;
    max-width: 40.1875rem;
    padding: 2.5rem;
}

.quote{
    font-family: 'Roboto Slab', serif;
    color:  #777777;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.client{
    color:  #7cc576;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.testimonial-1 img{
    margin-right: 2.625rem;
}
.testimonial-2 img{
    order: 2;
    margin-left: 2.625rem;
}

/*============

--------------------------- Section Contact

===================================================*/

.contact{
    background-color:  #7cc576;
    color: #fff;
    text-align: center;
}

/*============

--------------------------- Section Partners

===================================================*/
.partners{
    padding-left: 19.75rem;
    padding-right: 19.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#partners-img__1{
    max-width: 10.0625rem;
    max-height: 1.875rem;
}
#partners-img__2{
    max-width: 11.625rem;
    max-height: 2.625rem;
}
#partners-img__3{
    max-width: 10.0625rem;
    max-height: 2.5625rem;
}
#partners-img__4{
    max-width: 10.0625rem;
    max-height: 2.625rem;
}
/*============

--------------------------- Section Footer Nav

===================================================*/

.footer-nav{
    background-color: #222222;
    color: #fff;
    padding-left: 14.375rem;
    padding-right: 14.375rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footer-nav h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.contact-us{
    margin-right: 7.0625rem;
}
.contact-us i{
    margin-right: 17px;
}
.fa-map-marker-alt,
.fa-mobile-alt{
    font-size: 28px;
}
.fa-envelope{
    font-size: 22px;
}
.latest-posts{
    margin-right: 2.25rem;
}
.column ul{
    margin-left: 0;
    padding: 0;
}
.row{
    display: flex;
    align-items: baseline;
}
.row, .row a{
    font-family: 'Roboto Slab', serif;
    color:  #ececec;
   font-weight: 400;
   text-decoration: none;
}

.row address{
    font-style: normal;
    align-self: flex-start;
    line-height: 1.6;
}

.latest-posts i{
    margin-right: 14px;
    margin-bottom: 19px;
}

.fa-id-card,
.fa-image{
    font-size: 26px;
}
.fa-play{
    font-size: 24px;
    padding-right: 8px;
}
.tweets{
    max-width: 17.3125rem;
}
.tweet-box{
    margin-bottom: 17px;
}
.tweets p{
    margin: 0;
}
.tweets i{
    font-size: 22px;
    margin-right: 22px;
}
.hashtag{
    font-weight: 700;
    padding-top: 6px;
}
.tweet-date{
    font-size: 12px;
    padding-top: 8px;
}
/*============

--------------------------- Section Footer 

===================================================*/
footer{
    padding:1.75rem 0 1.75rem;
    display: flex;
    align-items: center;
}
.footer-col-1{
    color:  #555555;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    padding-left: 14.375rem;
    margin-right: 7.4375rem;
}
.footer-col-2{
    display: flex;
}
footer a{
    background-color: #222222;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-left: 9px;
}
#footer-twitter,
#footer-google{
    padding: 14px 16px;
    border-radius: 40px;
}

#footer-fb{
    padding: 14px 20px;
    border-radius: 40px;
}

#footer-pin{
    padding: 14px 18px;
    border-radius: 40px;
}

footer a:hover{
    background-color: #7cc576;
    transition: 0.8s;
}
/*============

--------------------------- Media Queries 

===================================================*/

@media(max-width:1432px){
    #chart-card::before,
    #chart-card::after{
        display: none;
    }
}
@media(max-width:1360px){
    .header-content{
        padding: 2.6rem 4.3rem;
    }
    .services-content{
        justify-content: space-around;
    }
    .services, .culture{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media(max-width:976px){
    .services-content,
    .culture-content{
        flex-direction: column;
        align-items: center;
    }
    .card-services, .card{
        padding-bottom: 2rem;
    }
}
@media(max-width:724px){
    .header-content{
        display: flex;
        flex-direction: column;
        padding-left: 24px;
    }
    
}
@media(max-width:651px){
    .hero{
        padding: 3rem 1rem;
    }
    .hero h1{
        font-size: 2.3rem;
    }
    .hero p{
        font-size: 0.875rem;
    }
}
@media(max-width:463px){
    .sec-title{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .section-sub-title{
        font-size: 1rem;
    }
    .advert .btn-round{
        max-width: 110px;
    }
    .advert .col-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advert .col-1{
        display: none;
    }
    .advert .col-2{
        padding: 2rem 0.4rem;
        min-width: 300px;
    }
    .advert .col-2 h2{
        font-size: 1.5rem;
        padding-right: 0;
        text-align: center;
    }
    .advert p{
        padding: 0.4rem;
        text-align: center;
    }
    .advert ul{
        padding: 0.4rem;
    }
    .projects-content{
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.8);
    }
}